{% macro multistate(id, gad, pics, vals) %}
    {% import "basic.html" as basic %}
    
    <a id="{{ uid(page, id) }}" data-widget="basic_extra.multistate" data-item="{{ gad }}" data-rel="popup" href="#{{id~_popup}}"
        {% for i in 1..vals|length %}
            data-val-{{i}}="{{vals[i-1]}}" data-pic-{{i}}="{{pics[i-1]}}"
        {% endfor %}
        class="ui-{{ type|default('mini') }}" data-role="button" data-inline="true" data-iconpos="center">
        <img class="icon" src="{{ pics[0] }}">
    </a>
    
    <div id="{{id~_popup}}" data-role="popup">
        <div>
            {% for i in 1..vals|length %}
                {{ basic.button(id~_popup_button_~vals[i-1], gad, '', pics[i-1], vals[i-1]) }}
            {% endfor %}
        </div>
    </div>
{% endmacro %}